.home-nav-container {
    display: flex;
    position: fixed;
    top: 1rem;
    width: 88vw;
    justify-content: space-between;
    align-items: center;
    padding: 0.62rem 3rem;
    /* background-color: #cbd8e7; */
    /* background-color: #f1f1f1;; */
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    z-index: 100;
}

.features {
    display: flex;
    flex-direction: row;
    gap: -2rem;
  
    margin-top: 0.5rem;
}

.features span {
    font-size: 1rem;
    color: rgb(63, 63, 63);
    min-width: max-content;
    text-align: center;
    padding: 0.5rem 0.9rem;
    border-radius: 20px;
}

.features span:hover {
    background-color: white;
    cursor: pointer;

}


.logo {
    font-size: 2rem;
    font-weight: 750;
    letter-spacing: -0.4px;
    color: rgb(41, 41, 41);
   
    font-family: "Inter", sans-serif;
}


.sub-1 {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.sub-2 {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

.sub-2 .btn {
    font-weight: 750;
    font-size: 1rem;
    border-radius: 16px;
    color: rgb(63, 63, 63);
     background-color: #e7e7e7;
     transition: 0.3s ease-in-out;
}


.sub-2 .btn:hover {
    background-color: white;
    font-weight: 750;
    font-size: 1rem;
    color: rgb(41, 41, 41);
}


.home-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}


.hero-container {
    margin-top: 7.2rem;
    width: 95vw;
    height: 70vh;
    border-radius: 20px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.hero-text {
    font-size: 2.4rem;
        font-weight: 600;
    letter-spacing: -0.1px;
    color: rgb(27, 26, 26);

}

.sub-hero-text {
    font-size: 1.2rem;
    letter-spacing: -0.4px;
    color: rgb(63, 63, 63);
}


.hero-btns {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.hero-btns button {
    width: 12rem;
    padding: 1rem 1.2rem;
    border-radius: 20px;
     background-color: #f1f1f1;

    border: none;

    /* letter-spacing: -0.4px; */
    font-size: 0.9rem;
    transition: 0.3s ease-in-out;
}

.hero-btns button:hover {
    background-color: #c9c7c7;
    cursor: pointer;
}

.second-container {
    margin-top: 2rem;
    width: 87.9vw;
    min-height: 70vh;
    border-radius: 20px;
    padding: 5rem 3rem;
    padding-top: 5rem;
    /* background-color: #e0e8ff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-family: "Inter", sans-serif;
    position: relative;
}

.second-content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 4rem;

}

.second-sub-1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.second-sub-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.second-sub-card {
    background-color: #b2c2ec;
    width: 30rem;
    height: 8rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    position: relative;
    
}

.second-bg-logo{
    position: absolute;
    right: 1rem;
    top:0.1rem;
    color:grey;
    opacity: 0.15;
}

.second-sub-card:hover {
    background-color: #c4d3f7;
    cursor:pointer;

}

.second-card-title {
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: -0.4px;
    color: rgb(27, 26, 26);
}

.second-card-content {
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: -0.1px;
    color: rgb(110, 110, 110);
}

.second-text {
    position: absolute;
    top: 5rem;
    left: 6.4rem;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: rgb(27, 26, 26);
}

.footer {
    margin-top: 5rem;
    width: 95vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer span{
font-size: 0.8rem;
 
    color: rgb(41, 40, 40);
    letter-spacing: -0.1px;
}


.dashboard-container{
    margin-top: 7rem;
    margin-bottom: 4rem;
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dashboard-container .title{
    position: absolute;
    top: 0.1rem;
    font-size: 4rem;
    font-weight: 600;
    color: rgb(88, 88, 88);
    letter-spacing: -0.1px;
}

.img-container{
    width: 80vw;
    height: 40rem;
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
}