.home-nav-container {
    display: flex;
    position: fixed;
    top: 1rem;
    width: 88vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #cbd8e7;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    z-index: 100;
}

.features {
    display: flex;
    flex-direction: row;
    gap: -2rem;
    font-weight: 750;
    margin-top: 0.5rem;
}

.features span {
    font-size: 1rem;
    color: rgb(63, 63, 63);
    min-width: max-content;
    text-align: center;
    padding: 0.5rem 0.9rem;
    border-radius: 20px;
}

.features span:hover {
    background-color: white;
    cursor: pointer;
    font-weight: 650;
}


.logo {
    font-size: 2rem;
    font-weight: 750;
    letter-spacing: -0.4px;
    color: rgb(41, 41, 41);
    font-family: "Inter", sans-serif;
}


.sub-1 {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.sub-2 {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

.sub-2 .btn {
    font-weight: 750;
    font-size: 1rem;
    border-radius: 16px;
    color: rgb(63, 63, 63);
}


.sub-2 .btn:hover {
    background-color: #e7e7e7;
    font-weight: 750;
    font-size: 1rem;
    color: rgb(41, 41, 41);
}


.home-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}


.hero-container {
    margin-top: 7.2rem;
    width: 95vw;
    height: 70vh;
    border-radius: 20px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.hero-text {
    font-size: 2.4rem;
    font-weight: 550;
    letter-spacing: -0.4px;
    color: rgb(27, 26, 26);

}

.sub-hero-text {
    font-size: 1.2rem;
    letter-spacing: -0.4px;
    color: rgb(63, 63, 63);
}


.hero-btns {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.hero-btns button {
    width: 12rem;
    padding: 1rem 1.2rem;
    border-radius: 20px;
    background-color: white;

    border: none;

    /* letter-spacing: -0.4px; */
    font-size: 0.9rem;
    transition: 0.3s ease-in-out;
}

.hero-btns button:hover {
    background-color: #c9c7c7;
    cursor: pointer;
}

.second-container {
    margin-top: 2rem;
    width: 87.9vw;
    min-height: 70vh;
    border-radius: 20px;
    padding: 5rem 3rem;
    padding-top: 5rem;
    background-color: #e0e8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.second-content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;

}

.second-sub-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.second-sub-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.second-sub-card {
    background-color: rgb(175, 229, 250);
    width: 30rem;
    height: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
}

.second-card-title {
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: -0.4px;
    color: rgb(27, 26, 26);
}

.second-card-content {
    font-size: 0.8rem;
    letter-spacing: -0.4px;
    color: rgb(63, 63, 63);
}

.second-text {
    font-size: 2.4rem;
    font-weight: 550;
    letter-spacing: -0.4px;
    color: rgb(27, 26, 26);
}

.footer {
    margin-top: 5rem;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer span{
font-size: 1.2rem;
    font-weight: 650;
    color: rgb(41, 40, 40);
    letter-spacing: -0.4px;
}