.userlist-container {
  /* max-width: 900px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); */


    padding: 30px;
       padding-bottom: 3rem;
  font-family: "Inter", sans-serif;
  background-color: #f1f1f1;
  min-height: fit-content;
  margin-left: 1.2rem;
  transform: scale(0.94);
  border-radius: 20px;
}

.userlist-search {
 width: 40%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.userlist-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
 
}

.userlist-header h2{
  font-weight: 500;
}

.table-wrapper{
  overflow: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}
.userlist-table {
  width: 100%;
  border-collapse: collapse;
}
.userlist-table th{
   text-align: left;
  padding: 12px 10px;
  background: #f0f1f5;
  font-size: 14px;
  font-weight: 600;
    border: 1px solid #ddd;
}
.userlist-table th, .userlist-table td {
  padding: 12px;
 border: 1px solid #ddd;
  text-align: left;
}

.userlist-table tbody tr:hover {
  background: #f9fafc;
  cursor: pointer;
}

.userlist-empty {
  text-align: center;
  color: #777;
  padding: 15px;
}
