.crud-container {
  padding: 30px;
  padding-top: 10px;
  background-color:  #f1f1f1;
  border-radius: 16px;
  width: 60rem;
  color: red;
  margin: 0;
  margin-left: 2.8rem;
    font-family: "Inter", sans-serif;
}

.crud-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.crud-container h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  color: #333;
}

.crud-nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.crud-nav button {
  flex: 1;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-weight: 600;
}

.crud-nav button.active {
  background-color: #0066cc;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form h3 {
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: #444;
}

.form input, .form select {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #0066cc;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.form button:hover {
  background-color: #005bb5;
}