

span{
      font-size: 0.8rem;
}

.nav-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 4rem;
}

.nav-links{
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      gap:1.2rem;
     
      
}

.nav-link{
      gap:'1rem';
    width:'10rem';
    margin: '8px 0';
    padding: '8px';
    border-radius: 4px;
    text-decoration: none;
    letter-spacing:'-0.2px';
    color:grey;
    font-weight: 750;
    font-family: Inter, Arial, sans-serif;
  
}

.nav-title{
      font-family: Inter, Arial, sans-serif;
      font-weight: 750;
      letter-spacing: -1px;
font-size: 1.6rem;
}

.encora-logo{
      margin-left: -18px;
       font-family: Inter, Arial, sans-serif;
      font-size: 2.4rem;
      font-weight: 750;
      color:rgb(33, 34, 34);
}