.device-crud-container {

  padding: 30px;
  padding-top: 10px;
  background-color:  #f1f1f1;
  border-radius: 16px;
  width: 60rem;
  color: red;
  margin: 0;
  margin-left: 2.8rem;
    font-family: "Inter", sans-serif;
}

.crud-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.device-crud-container h2 {
  text-align: center;
  margin-bottom: 20px;
    font-size: 1.6rem;
  font-weight: 530;
  color: #222;
}

.crud-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}

.crud-nav button {
  padding: 10px 18px;
  width: 6rem;
  border: none;
  background-color: #7c90a8;
  border-radius: 16px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.crud-header .crud-nav .active {
  background-color: #7c90a8;
  font-weight: 600;
}

.crud-nav button:hover {
  background: #dcdcdc;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #eee;

}

.form h3 {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
}

.form input,
.form select {

  padding: 10px 12px;
  font-size: 14px;
  border-radius: 8px;
  background-color: #f0f1f5;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.form input:focus,
.form select:focus {
  border-color: #4a90e2;
}

.form .form-btns button {
  width: 20%;
  padding: 12px;
  background-color: #7c90a8;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 4px;
  transition: background 0.2s ease-in-out;
}

.form button:hover {
  background: #3a7bd5;
}

.form-btns{
  display: flex;
  flex-direction: row;
  gap:0.4rem;
}